body {
  margin: 0px;
  font-family: auto;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.6;
}

#welcome {
  background-image: url("../images/home.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

#welcome h1 {
  font-size: 60px;
}

#welcome p {
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#welcome .button {
  font-size: 20px;
  text-decoration: none;
  color: #ebe6e2;
  border: #ebe6e2 2px solid;
  padding: 10px 20px;
}

.result-item {
  color: #2064e2;
}

.result-item p a {
  pointer-events: none;
  text-decoration: none;
  color: #2064e2;
}
