body {
  margin: 0px;
  font-family: comic sans ms, cursive;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.6;
}

#welcome {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/homepage.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

#welcome h1 {
  font-size: 100px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 100px;
}

#welcome p {
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-top: 0px;
  margin-bottom: 50px;
}

#welcome .button {
  font-size: 40px;
  text-decoration: none;
  color: #0f0f0f;
  border:#9ec4bd 2px solid;
  background: #e2e0e0;
  padding: 20px 40px;
  border-radius: 100%;
  text-decoration:none;
  display: inline-flex;
  cursor: pointer;
  margin-bottom: 40px;

}

.button:hover {
  cursor: pointer;
}

.result-item {
  color: #2064e2;
  margin: 10px;
}

.result-item p a {
  pointer-events: none;
  text-decoration: none;
  color: #2064e2;
}
